<?PHP

// Include config file
// *** P1 path file     * $p1path $p1latestfile
// *** DATABASE         * $dbserver $dbusername $dbpassword $dbname
// *** PvOutput.org     * $pvoapi $pvosid
// include '/usr/local/bin/dsmrp1spot/p1spot.conf';

// ***
error_reporting(E_ERROR | E_WARNING | E_PARSE);

// ***
$p1path="/usr/local/bin/dsmrp1spot";
$sbfpath="/home/pi/smadata/logs";

// *** INPUT FILE
$p1latestfile = $p1path."/data/latest.txt";
$p1length = "36";

// *** DATABASE
$dbserver	= "localhost";
$dbname		= "P1spot";
$dbusername	= "p1spotUser";
$dbpassword	= "p1spotPassword";

// *** PVOutput.org
$pvourladd      = "http://pvoutput.org/service/r2/addstatus.jsp";
$pvoapi		= "1234567890123456789012345678901234567890";
$pvosid		= "00000";

?>
